{{> menu id="about"}}

<section class=" ui centered aligned middle aligned segment">
    <div class="ui centered card">

  <div class="image">
    <img src=" /stevie.jpg">
  </div>

  <div class="content">
    <a class="header">{{employee.fullname}} </a>
    <div class="meta">
      <span class="date">Joined in {{employee.joined}} </span>
    </div>
    <div class="description">
        {{employee.name}} is a {{employee.job}}living in {{employee.city}} .
    </div>
  </div>

  <div class="extra content">
    <a>
      <i class="user icon"></i>
       {{employee.mates}} contacts
    </a>
  </div>
</div>

</section>

